<div class="mcq_box" >
	<div class="row options_for_the_question_header">
		<bold >Options</bold>
		Randomize options - checkbox

		<div class="dropdown" style="margin-left: auto; margin-right: 0;">
		  <button class="btn btn-info dropdown-toggle pl-5 pr-5" type="button" id="Question type" data-toggle="dropdown" aria-expanded="false">
		    Question type
		  </button>
		  <div class="dropdown-menu" aria-labelledby="Question type">
		  	<%= link_to "Descriptive", root_path, class: "dropdown-item" %> 
		  	<%= link_to "Multiple choice question", root_path, class: "dropdown-item" %> 
		  	<%= link_to "More than one answer", root_path, class: "dropdown-item" %> 
		  </div>
		</div>
	</div>

	<div >
		<table class="mt-1 mb-1 table table-bordered table-hover">
			<tbody>
				<% for i in Option.where(question_id: question_id)%>
					<% edit_mcqs_option_before = "edit_mcqs_option_before_" + i.id.to_s %>
					<% edit_mcqs_option_after = "edit_mcqs_option_after_" + i.id.to_s %>
					<% edit_mcqs_option_icons = "edit_mcqs_option_icons_" + i.id.to_s %>
					<tr>
						<td style="width:90%; padding: 0;" class="for_hover_delete_icon"> 
							<div class="row">
								<div class="col-10 option_padding" id= <%= edit_mcqs_option_before %>>
									<%= truncate(i.option, length: 35) %>
								</div>
								<div class="col-12 hide" id= <%= edit_mcqs_option_after %> >
						            <%= form_with scope: :edit_mcqs_option_submit, url: home_edit_mcqs_option_submit_path(i.id), method: :put, remote: true do |f|%>
						                <%= f.text_field :option, class: 'form-control', value: i.option %>
						            <%end%>
						        </div>
						        
								<div class="col-2" style="padding: 0; text-align: center;" id= <%= edit_mcqs_option_icons %> >
									<%= link_to '<i class="bi bi-pen hover_show"></i>'.html_safe, home_edit_mcqs_option_path(i.id), class: "option_edit_pen", method: :get, remote: true %>
									<%= link_to '<i class="bi bi-x hover_show"></i>'.html_safe, home_delete_option_path(i.id), class: "big-x", method: :delete, remote: true %>
								</div>
							</div>						
						</td>
						<td style="padding-bottom: 0;"><input class="" type="radio" name="exampleRadios"  value="option1" checked></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'Add new option', home_add_new_option_path(@question_id), class: "add_new_option", method: :post, remote: true %>
	</div>		
</div>	