<% if question_id != 0 %>
<% question = Question.find(question_id)%>
	<div class="right_pane glassmorphism_3">
		<div class="row  question_row m-0">
			<div class="col-6 box_divider">
				<div class="row enter_the_question_row" >
					<%= form_with scope: :enter_the_question, url: home_enter_the_question_path(question_id), method: :post, class: 'enter_the_question_form' do |f|%>
							<%if question.question && question.question.length != 0%>	
								<%= f.text_area :question, class: 'text_area_for_entering_question', onchange: 'this.form.submit()', value: question.question %>
							<%else%>
								<%= f.text_area :question, class: 'text_area_for_entering_question', onchange: 'this.form.submit()', placeholder: 'Please type your question here.' %>
							<%end%>							
							<%= f.submit 'Save', class: 'hide' %>	
					<%end%>	
				</div>			
			</div>
			<div class="col-6 box_divider pl-3 pr-4 pt-1 pb-1">
				<div class="row variable_boxes">
					<%= render 'home/question_paper/question_variables_partial', question_id: question_id %>
				</div>
			</div>
		</div>

		<div class="row m-0 answer_row">
			<div class="col-6 box_divider">
				<div class="row enter_the_question_row" >
					<%= form_with scope: :enter_the_solution, url: home_enter_the_solution_path(question_id), method: :post, class: 'enter_the_question_form' do |f|%>
							<%if question.solution && question.solution.length != 0%>	
								<%= f.text_area :solution, class: 'text_area_for_entering_question', onchange: 'this.form.submit()', value: question.solution %>
							<%else%>
								<%= f.text_area :solution, class: 'text_area_for_entering_question', onchange: 'this.form.submit()', placeholder: 'Please enter your solution here.' %>
							<%end%>
							<%= f.submit 'Save', class: 'hide' %>	
					<%end%>	
				</div>
			</div>
			<div class="col-6 box_divider pl-3 pr-4 pt-1 pb-1">
				<div class="row variable_boxes">
					<%= render 'home/question_paper/solution_variables_partial', question_id: question_id %>
				</div>				
			</div>
		</div>	
	</div>

<%else%>
	<div class="right_pane">
		<div class="glassmorphism_5 no_list_of_questions">
			<h2> Add the questions to edit them</h2>
			<h5>Click on 'Add a new question' button on the left pane.</h5>
		</div>
	</div>	
<% end %>

