<% edit_name_before = "edit_name_before_" + @questionpaper.id.to_s %>
<% edit_name_after = "edit_name_after_" + @questionpaper.id.to_s %>
<% edit_name_icon = "edit_name_icon_" + @questionpaper.id.to_s %>

<div class="left_pane">

    <div class="list-group left_pane_questions">
      <li class="list-group-item bg-dark text-white p-2">
        <div class="row">
          <div class="col-10" id= <%= edit_name_before %> >
            <%=truncate(@questionpaper.name, length: 27) %>
          </div>
          <div class="col-12 hide" id= <%= edit_name_after%> >
            <%= form_with scope: :edit_name_question_paper_submit, url: home_edit_name_question_paper_submit_path(@questionpaper.id), method: :put, remote: true do |f|%>
              <%= f.text_field :name, class: 'form-control', value: @questionpaper.name %>
            <%end%>
          </div>
          <div class="col-2">
            <%= link_to '<i class="bi bi-pen"></i>'.html_safe, home_edit_name_question_paper_path(@questionpaper.id), class: 'text-white', id: edit_name_icon , remote: true %>
          </div>
        </div>      
      </li>

      <li class="list-group-item  bg-dark text-white p-2">
        <div class="row">
          <div class="col-10">
            <span class="badge bg-primary rounded-pill" style="float: left;">
              <%= @questionpaper.total_marks %> marks
            </span>
          </div>
          <div class="col-2">
            <i class="bi bi-gear"></i>
          </div>
        </div>      
      </li>

      <!-- question list -->

      <% for i in Question.where(questionpaper_id: @questionpaper.id)%>
        <% question_div_link = "question_div_link_" + i.id.to_s%>
        <% question_div_link_original = "question_div_link_original_" + i.id.to_s%>
        
        <div class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-10 hover_pointer" id= <%= question_div_link%>>
              <%= link_to i.question_number, home_question_question_right_pane_path(i.id), id: question_div_link_original, class: 'question_number_link', remote: true %>
            </div>
            <div class="col-2">
              <%= link_to '<i class="bi bi-trash "></i>'.html_safe, home_delete_question_path(i.id), method: :delete, remote: true, data: { confirm: "Are you sure that you want to delete question #{i.question_number}? "} %>
            </div>
          </div>        
        </div>

        <script type="text/javascript">
          document.getElementById('<%= question_div_link %>').onclick = function() {
            document.getElementById('<%= question_div_link_original %>').click();
          }
        </script>
      <%end%>

      <%= link_to 'Add a new question', home_create_question_path(@questionpaper.id), class: "list-group-item list-group-item-action list-group-item-warning mb-5", method: :post, remote: true %>
    </div>

    <div>
    	<button type="button" class="btn btn-success left_pane_submit_button">Generate question paper</button>
    </div>

</div>
